%h1 Comments#show
%p Find me in app/views/comments/show.html.erb
-#
-#
-#
-#.well
-#  %h3 Comment
-#  %p.text-muted added by
-#    %strong= comment.user_id
-#    on
-#    = l(comment.created_at, format: '%B, %d %Y %H:%M:%S')
-#
-#  %blockquote>
-#    %p= comment.body
