<% provide(:title, 'All users') %>
<div>
  <h1>All users</h1>
  <h4>
    <%= @u.login %>
  </h4>
  <%= @u.email %><br />
  <%= @u.place %>

  <ul>
    <% @users.each do |user| %>
      <li>
        <%= link_to user.login, user %>
      </li>
    <% end %>
  </ul>
</div>