<h3> Articles: </h3>

<tbody>
<% @articles.each do |article| %>
    <div>
      <%= article.title %><br />
      <%= article.description %><br />
      <%= article.date %>
    </div><br />
<% end %>
</tbody>
