.cont

  %tbody
  - @articles.each do |article|
    = link_to edit_user_registration_path do
      .little-article
        .blackout
        .la-description
          #la-title= article.title.upcase!
          %br
          = article.description
        %br
        .la-date= article.date
  %br

  %button.navbar-toggle{type: 'button', data: {toggle: 'collapse', target: '.navbar-responsive-collapse'}}
    %span.icon-bar
