.cont
  %h3 Articles:

  %tbody
  - @articles.each do |article|
    %div
    = article.title
    %br
    = article.description
    %br
    = article.date
  %br

  %button.navbar-toggle{type: 'button', data: {toggle: 'collapse', target: '.navbar-responsive-collapse'}}
    %span.icon-bar
