/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require _bootstrap
 *= require _bootstrap-sprockets
 *= require_self
 */

.form-signin {
  margin-left: 405px;
  margin-right: 405px;
  padding-top: 70px;
}

.form-control {
  height: 40px;
}

body {
  background: #E2E2E2;
}

.cont {
  background: #FFFFFF;
  position: relative;
  width: 1000px;
  margin: auto;
  padding: 10px 5px ;
}

.umain {
  position: relative;
  width: 900px;
  padding: 20px 30px;
  margin: 10px 60px;
//  vertical-align: top;
  background: #EFEFEF;
}

.ava {
  position: relative;
  z-index: 3;
  width: 200px;
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
//  position: absolute;
//  left: 30px;
  margin-right: 30px;

  background: #fff;
  border: 5px solid #fff;
  border-radius: 50%;
  line-height: 1;
}

.inf {
  width: 460px;
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin-right: 20px;
  letter-spacing: 0;
  word-spacing: 0;
  text-align: left;
}



.little-article {
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: 450px;
  height: 450px;
  text-align: center;
  margin: 5px;
//  background: #EFEFEF;
  background-size: cover;
  background-image: url('http://www.azh.com.ua/files/content/photography/cnunez/12.jpg');
}

.la-description {
  position: absolute;
  bottom: 40px;
  right: 10px;
  height: 200px;
  color: #ffffff;
}

#la-title {
  font-size: x-large;
}

.la-date {
  color: #666666;
  position: absolute;
  bottom: 5px;
  right: 10px;
}


.blackout {
  background: #000000;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.blackout:hover {
  background: #000000;
  width: 100%;
  height: 100%;
  opacity: 0.3;
}